# Git
.git
.gitignore

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Data & checkpoints
checkpoints/
logs/
results/
train_ckpt/
visuals/
tests/

# IDE
.idea
.vscode

# Model weights
*.pth
*.zip

# Build artifacts
build/
dist/
*.egg-info/
.eggs/

# Jupyter
.ipynb_checkpoints
